{
  "plugins": [
    "babel"
  ],
   "parser": "babel-eslint",
   "env": {
     "node": true,
     "mocha": true,
     "es6": true,
     "jasmine": true,
   },
   "globals": {
     "__DEV__": false,
     "jest": true
   }
 }
